__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.db
logs/
quarantine/
backup/
engine/
*.log
config/benguelashield.db
modules/ai/models/
modules/behavioral/models/
.vscode/
*.egg-info/
dist/
build/
_test_pe.py
install_log.txt
test_yara_clamav.py
modules/yara_engine/_gen.py
modules/yara_engine/_gen_all.py
config/clamd.pid
config/exceptions.json
